---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740] py-44 text-white">
			<h1 class=" text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">
				hey, soy yeison 
				<div class="flex justify-center items-center">

						<Badge>disponible</Badge>

				</div>
				</h1>
			<h2 class="text-2xl flex justify-center opacity-80">
				Desarrollador Fullstack y Estudiante de Ingenieria. De
				Colombia, 
			</h2>
		</section>
	</main>
</Layout>

<style>

</style>
