<header class="flex justify-between items-center py-3 px-3 w-full mx-auto">
    <img 
    class=" rounded-full w-6 h-6" 
    src="https://avatars.githubusercontent.com/u/145953041?v=4" 
    alt="yei photo">

    <nav class="flex flex-row gap-x-10 opacity-80 text-white">
        <a href="/"></a>
        <a href="/about">about</a>
        <a href="/projects">my work</a>
        <a href="/contact">Call me</a>
    </nav>
</header>